@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif;
}

body {
  background-color: rgb(38, 42, 85);
  height: 100vh;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 1rem;
}

h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
}

#status {
  padding: 1rem 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

#status .choices {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
}

#status > p {
  padding-top: 10px;
}

#board {
  width: 50vh;
  height: 50vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 8px;
}

.box {
  border: none;
  background-color: rgb(66 69 119);
  border-radius: 5px;
  cursor: pointer;
  /* position: relative; */
}

/* .box.horizontal-win::before {
  content: '';
  display: block;
  width: 120%;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: -10%;
}

.box.vertical-win::before {
  content: '';
  display: block;
  width: 3px;
  height: 120%;
  background-color: white;
  position: absolute;
  top: -10%;
  left: 50%;
} */

.box:disabled {
  color: white;
  font-size: 5rem;
  cursor: default;
}

.box:disabled.x {
  background-color: rgb(203, 126, 168);
}

.box:disabled.o {
  background-color: rgb(233, 156, 120);
}

#stats {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2rem;
  padding: 1rem 0;
}

#history {
  visibility: hidden;
  opacity: 0;
  width: 50%;
  padding: 1rem 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#history.show {
  visibility: visible;
  opacity: 1;
  transition: 800ms;
}

.previous,
.new-game,
.next,
#status .choices button {
  text-transform: uppercase;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background-color: white;
  color: black;
}

#history button:nth-child(odd):hover {
  background-color: rgb(203, 126, 168);
  color: white;
}

#history button:nth-child(even):hover {
  background-color: rgb(233, 156, 120);
  color: white;
}

#history button:disabled,
#history button:disabled:hover {
  opacity: 0.5;
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .box:disabled {
    font-size: 3rem;
  }

  #stats {
    font-size: 1.5rem;
  }

  #history {
    justify-content: center;
    grid-gap: 10px;
  }
}
